# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
har_env/

# IDE
.vscode/
.idea/

# Environment
.env
.env.*

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db